/*
#f0c52e yellow
#272525 black
*/
@font-face {
  font-family: "gilroyextrabold";
  src: url("fonts/gilroy_extrabold-webfont.woff2") format("woff2"),
       url("fonts/gilroy_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "gilroylight";
    src: url("fonts/gilroy_light-webfont.woff2") format("woff2"),
         url("fonts/gilroy_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sanslight";
    src: url("fonts/opensans-light-webfont.woff2") format("woff2"),
         url("fonts/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("fonts/opensans-regular-webfont.woff2") format("woff2"),
         url("fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px dotted green;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header-logo-name {
  font-size: 48px;
  color: #000000;
}

.header-logo-name:hover,
.header-logo-name:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #f7e296;
  /*box-shadow: 0 -30px 0 0 #f7e296;*/
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  outline: 1px dotted blue;
}

.search {
  width: 440px;
  margin-left: 60px;
  outline: 1px dotted red;
}

.search input[type="search"] {
  width: 335px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 200;
  color: #000000;
  opacity: 0.3;
  background-color: #f7e296;
  border: none;
}

.search input[type="search"]:hover {
  color: #000000;
  opacity: 0.6;
}

.search input[type="search"]:focus {
  color: #000000;
  opacity: 1;
  border-bottom: 2px solid #000000;
  outline: transparent;
}

.search-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 200;
  color: #000000;
  opacity: 0;
  background-color: #f7e296;
  border: 2px solid #000000;
}

.search input[type="search"]:focus ~ .search-btn {
  opacity: 1;
  color: #000000;
  background-color: #f7e296;
  border: 2px solid #000000;
}

.search input[type="search"]:focus ~ .search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-btn:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: transparent;
}

.header-user-wrapper {
  display: flex;
}

.header-user {
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 200;
  color: #000000;
}

.header-user-navigation {
  color: #000000;
}

.header-user-navigation:hover,
.header-user-navigation:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-login {
  width: 280px;
  outline: 1px dotted red;
}

.header-user-compare {
  width: 120px;
  text-align: right;
  outline: 1px dotted red;
}

.header-user-cart {
  width: 100px;
  text-align: right;
  outline: 1px dotted red;
}

.exit {
  width: 100px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.exit:hover,
.exit:focus {
  color: rgba(0, 0, 0, 0.6);
}

.exit:active {
  color: #000000;
}

.header-menu,
.header-menu-catalog,
.main-menu-catalog,
.popular-brends-list,
.footer-user,
.footer-menu,
.breadcrumbs {
  list-style: none;
}

.header-menu {
  display: flex;
  margin: 0;
  margin-left: 60px;
  margin-right: 60px;
  padding: 0;
}

.header-menu-list {
  outline: 1px dotted red;
}

.header-menu-list:first-child {
  width: 540px;
}

.header-menu-list:nth-child(2) {
  width: 160px;
}

.header-menu-list:nth-child(3) {
  width: 170px;
}

.header-menu-list:nth-child(4) {
  width: 170px;
  text-align: right;
}

.header-menu-catalog {
  margin: 0;
  padding: 0;
}

.header-menu-catalog li {
  width: 200px;
}

.header-menu-item {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-menu-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-menu-catalog-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 200;
  color: #000000;
}

.header-menu-catalog-item:hover,
.header-menu-catalog-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-menu-catalog-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-title,
.service-slider-title,
.company-title,
.contacts-title,
.category-title {
  font-size: 47px;
}

.slider-number {
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
}

.slider-text,
.service-slider-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 200;
  color: #464646;
}

.slider-table {
  text-align: left;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 200;
  color: #464646;
}

.slider-table span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 200;
}

.slider-btn,
.block-info-btn,
.write-us-btn,
.cart-btn,
.filter-btn {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.slider-btn:hover,
.slider-btn:focus,
.block-info-btn:hover,
.block-info-btn:focus,
.write-us-btn:hover,
.write-us-btn:focus,
.cart-btn:hover,
.cart-btn:focus,
.filter-btn:hover,
.filter-btn:focus {
  background-color: #f0c52e;
}

.slider-btn:active,
.block-info-btn:active,
.write-us-btn:active,
.cart-btn:active,
.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu-catalog {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-menu-catalog li {
  width: 160px;
}

.main-menu-catalog-item {
  width: 160px;
  height: 160px;
  margin-bottom: 40px;
  background-color: #f7e296;
}

.main-menu-catalog-item:hover {
  background-color: #f0c52e;
}

.main-menu-catalog-title {
  color: #000000;
}

.main-menu-catalog-title:hover,
.main-menu-catalog-title:focus {
  color: #000000;
}

.main-menu-catalog-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  background-color: #e5e5e5;
}

.service-slider label {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.service-slider label:hover {
  background-color: #f0c52e;
}

.service-slider label:active {
  color: #f7e184;
  background-color: #000000;
}

/*.service-slider-controls {
  border-right: 4px solid #000000;
}*/

.popular-brends-list {
  display: flex;
  justify-content: space-between;
}

.popular-brends-logo {
  opacity: 0.2;
}

.popular-brends-logo:hover {
  opacity: 1;
}

.block-info {
  display: flex;
  justify-content: space-between;
}

.company p,
.contacts p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 200;
  color: #464646;
}

.dilivery {
  font-size: 16px;
  line-height: 40px;
}

.main-footer {
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.footer-logo-name {
  font-size: 48px;
  color: #ffc600;
}

.footer-logo-name:hover,
.footer-logo-name:focus {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo-name:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-user li {
  width: 130px;
  text-align: right;
}

.footer-user-navigation {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation:hover,
.footer-user-navigation:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer-middle p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-middle li {
  width: 150px;
}

.footer-menu-item {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-menu-item:hover,
.footer-menu-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

/* Каталог */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  padding-right: 20px;
}

.breadcrumbs-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-btn:hover,
.breadcrumbs-btn:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-btn:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 326px;
  background-color: #eeeeee;
}

.filter-title {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #dbdbdb;
}

.filter-btn,
.write-us-btn {
  border: none;
  background-color: transparent;
  outline: transparent;
}

.range-filter,
.color-filter,
.bluetooth-filter {
  border: none;
}

.price-controls {
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}

.color-filter label,
.bluetooth-filter label {
  display: block;
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 200;
  color: #000000;
}

.sorting-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  background-color: #ebebeb;
  /*box-shadow: 400px 0 0 0 #ebebeb;*/
}

.sorting-block-title {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sorting-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-btn:hover,
.sorting-btn:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-btn:active {
  color: #000000;
}

.catalog-content {
    width: 834px;
}

.catalog-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 360px;
  margin-bottom: 75px;
}

.flag {
  display: none;
}

.compare-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}

.compare-btn:hover,
.compare-btn:focus {
  color: #000000;
}

.compare-btn:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-price {
  font-size: 14px;
  font-weight: 200;
  color: #464646;
}

.pagination {
  width: 760px;
  margin-bottom: 73px;
  background-color: #ebebeb;
}

.btn-pagination {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.btn-pagination-number {
  color: rgba(0, 0, 0, 0.3);
}

.btn-pagination-number:hover,
.btn-pagination-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.btn-pagination-number:active {
  color: #000000;
}

.current {
  color: #000000;
}

.btn-pagination-prev:hover,
.btn-pagination-prev:focus,
.btn-pagination-next:hover,
.btn-pagination-next:focus {
  background-color: #d9d9d9;
}

.btn-pagination-prev:active,
.btn-pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Модальные окна */
.write-us-form-user label {
  line-height: 18px;
}

.write-us-form-user input,
.write-us-form-user textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}
